.btn-SelectionFrame{
    border: 0.1px solid rgba(0, 0, 0, 0.2) !important;
    border-width: 3px !important;
    border-radius: 0 !important;
    -webkit-box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
}

.back-Btn-SelectionFrame{
    position: absolute !important;
    margin-left: 200px;
    margin-top: -39px;
    padding: 5px 9px 5px 9px !important;
    border-radius: 5px !important;
    display: inline-block !important;
}